@font-face {
  font-family: "Tektur";
  src: url("@/assets/fonts/Tektur.ttf");
}

.bubble-accent {
  background: radial-gradient(closest-side, #fcd0a1, #1e111d);
  opacity: 25%;
  position: absolute;
  z-index: 0;
}

.bubble-info {
  background: radial-gradient(closest-side, #77e4ee, #1e111d);
  opacity: 25%;
  position: absolute;
  z-index: 0;
}
